<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><img src="" alt="Logo"></li>
          <li><a id="len1" class="hoverable" href="#">Home</a></li>
          <li><a id="len2" class="hoverable" href="#">Women's</a></li>
          <li><a id="len3" class="hoverable" href="#">Men's</a></li>
          <li><a id="len4" class="hoverable" href="#">Contact</a></li>
          <li><a id="len5" class="hoverable" href="#">About</a></li>
          <li><a id="len6" class="hoverable" href="#">Login</a></li>
        </ul>
      </div>
    </nav>


