<%- include('./partials/header') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   

<h1>Welcome to <%= title %></h1>
   <a class="slide"href="/womens_watches">women's Collection</a>
   <a class="slide"href="/watches">Men's Collection</a>

