<%- include('../partials/header') %>

<form id="new-form" action="/Watches" method="POST">
<label>Title:</label>
<input type="text" name="title">
<label>Description</label>
<input type="text" name="description">
<label>Model:</label>
<input type="text" name="model">
<label>Price:</label>
<input type="text" name="Price">
<input type="submit" value="Add Watch">
</form>
<%- include('../partials/footer') %>
