<%- include('../partials/header') %>

<form id="new-form" action="/watches" method="POST">
<label>Title:</label>
<input type="text" name="title">
<label>Description</label>
<input type="text" name="description">
<label>price:</label>
<input type="text" name="Price">
<input type="submit" value="Add Watch">
</form>

<%- include('../partials/footer') %>

